[defaults]
host_key_checking = False
timeout = 60
pipelining = True
stdout_callback = ansible.builtin.default

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=30
retries = 3
control_path_dir = /tmp/.ansible/cp
control_path = %(directory)s/%%h-%%r

[callback_default]
result_format = yaml